@import "variables.scss";

body {
  background: $beige url("/trainzzz/sandy-tx.png") top/150%;
  font-family: "Iosevka Etoile", sans-serif;
  padding: 12px;
  display: block !important;
}

*[dir="rtl"] {
  font-family: "Vazirmatn" !important;
}

main {
  padding: 3px calc(60px + 0.3vw);
}
