$beige: #e5d3b3;
$primary: #76ba99;
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Vazirmatn&display=swap");

@font-face {
  font-family: "Iosevka Etoile";
  src: url("/trainzzz/iosevka-etoile-regular.ttf");
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: calc(2.5vw + 30px);
}
h2 {
  font-size: calc(2vw + 30px);
}
h3 {
  font-size: calc(1.5vw + 32px);
}
h4 {
  font-size: calc(1vw + 20px);
}
h5 {
  font-size: calc(0.5vw + 18px);
}
h6,
p {
  font-size: calc(15px + 0.390625vw);
}

.centre {
  text-align: center;
}

strong {
  color: $primary;
}

header {
  position: fixed;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  width: 100vw;
  padding: 200px;
}
header.visible {
  opacity: 1;
  background-color: $primary;
}
