---
import "../styles/index.scss";
---

<html>
  <body>
    <div class="centre">
      <img src="logo-large.svg" alt="" width="100%" />
    </div>
    <div class="centre">
      <h2>If <strong>liberty</strong> and <strong>justice</strong> are human rights</h2>
      <h1>Why not mobility?</h1>
    </div>
  </body>
</html>
