---
import "../styles/index.scss";

import Header from "../components/header.svelte";
---

<head>
  <link rel="shortcut icon" href="/trainzzz/favicon.ico" type="image/x-icon" />
</head>
<body>
  <Header client:load selector="#logo" />
  <div class="centre" id="logo">
    <img src="logo-large.svg" alt="" width="100%" />
  </div>
  <div class="centre">
    <h2>If <strong>liberty</strong> and <strong>justice</strong> are human rights</h2>
    <h1>Why not mobility?</h1>
  </div>
  <main>
    <p>
      Trains 4 Everyone (T4E) is a global movement against self-centric private vehicles. More broadly, it aims to
      improve the wellbeing of a society through democratic good-will. We aim to raise awareness and call governments
      worldwide to action, to action that we believe is acting for a human right.
    </p>
    <p>
      T4E believes that <strong>no one</strong> should have to own a car to be a functioning member of society. But as the
      ill-informed invasion of asphalt and gravel roads conquers city centres and corners, cars are becoming ever more prevalent.
    </p>
    Sign up to our newsletter to stay informed, and play <strong>your part</strong> in changing the world for the better.
    <p dir="rtl">يا حبيبي</p>
  </main>
</body>
