---
const { frontmatter } = Astro.props;
import Header from "../components/header.svelte";
import "../styles/articles.scss";
---

<html>
  <head>
    <title>
      {frontmatter.title}
    </title>
  </head>
  <body>
    <Header selector="h1#title" client:load />
    <article>
      <h1 id="title">{frontmatter.title}</h1>
      <slot />
    </article>
  </body>
</html>
